nav {
    height: 6rem;
}
.navbar-custom {
    background-color: black;
}

#navbarNavAltMarkup {
    flex-grow: 0;
    margin-right: 5rem;
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: gray;
}

a.navbar-brand {
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 900;
}
.head{
     font-size: 4.5rem;
     font-weight: 900;
     margin-top: 3rem;
     text-align: center;
}
.mid{
     width: 30%;
     border-style: solid;
     border-width: medium;
     height: 3rem;
     align-items: center;
     margin-left:auto;
     margin-right:auto;
     text-align:center;
     font-family: "RlFreight", serif;
     font-size: 2rem;
     text-align: center;
     font-weight: 600;
     margin-top: 5.5rem;
}
.top{
    width: 60%;
    border-style: solid;
    border-width: medium;
    height: 3rem;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    }
.low{
    font-family: "RlFreight", serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-top: 5.5rem;
}

a.link {
    text-decoration: none;
    color: black;
}

a.link:hover {
    color: gray;
}

table.table{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}